* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proxima-nova-condensed-light.ttf);
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;


}

.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: end;

    @media screen and (min-width:768px) {
        display: none;

    }
}

.menu-btn span {

    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.price {
    display: flex;
    gap: 50px;
    align-items: center;
}

.list-logo {
    display: flex;
    gap: 25px;
}

.logo-header {
    max-width: 101px;
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
}

.logo-trello {
    max-width: 22px;
    width: 100%;
    cursor: pointer;

    @media screen and (min-width:768px) {
        display: none;
    }

}

.bg-chair {
    background-image: url(../img/chair.jpg);
    background-size: cover;
    width: 100%;
    max-width: 1232px;
}

.categories {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
        display: flex;
        justify-content: space-around;
    }

}

.search {
    max-width: 17px;
    width: 100%;
}

.list-home {
    text-decoration: none;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-transform: uppercase;
    color: #979797;

}

.list {
    text-decoration: none;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #0A0A0A;
}

.list-trello {
    max-width: 18px;
    width: 100%;
}

.list-heart {
    max-width: 19px;
    width: 100%;
}

.list-people {
    max-width: 15px;
    width: 100%;
}

.main {
    background-image: url(../img/bg-chair.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -200px;
    height: 434px;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        background-position: center;
        height: 528px;
    }

    &-container {
        position: relative;
        // @media screen and (min-width: 768px) {

        // }

        &-info {
            background-color: #979797;
            display: flex;
            flex-direction: column;
            padding: 40px 20px 32px;
            width: 388px;
            height: 328px;
            bottom: -710px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            gap: 20px;

            @media screen and (min-width: 1200px) {
                right: 229px;
                left: 0;
                transform: translateX(0);
                margin-left: auto;
                width: 716px;
                height: 402px;
                padding: 50px 38px;
                top: 62px;

            }


            &-h1 {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #FFFFFF;

                @media screen and (min-width: 768px) {
                    font-size: 48px;
                    line-height: 48px;

                }

            }

            &-p {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #ECECEC;

                @media screen and (min-width: 768px) {
                    font-size: 20px;

                }
            }

            &-button {
                width: 180px;
                height: 45px;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: #040404;
                padding: 14px 40px;

                @media screen and (min-width: 768px) {
                    width: 180px;
                    height: 52px;
                    font-size: 16px;
                    line-height: 19px;


                }
            }
        }
    }
}

.bg-opasity {
    background-image: url(../img/flowers.svg);
    background-size: contain;
    background-repeat: repeat-x;
    height: 517px;

}

.mt-350 {
    margin-top: 350px;

    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }
}

.carousel {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.carousel-h {

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #111010;


    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-top: 10px;
    }
}

.carousel-p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    justify-content: center;
    color: #616161;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 28px;

    }
}

.carousel-inner {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carousel-control {
    background: white;
    color: black;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin-top: 100px;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: grey;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.box-after-slide {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 1px solid black;
    width: 361px;
    height: 93px;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 5%;
    position: absolute;
    margin-top: -50px;

}

.box-after-slide-h {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.box-after-slide-p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
}

.slide-img {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
    }
}

.desktop-slide {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.desctop-slide-img-1 {
    position: relative;
}

.desctop-border-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 535px;
    height: 114px;
    background: #111010;
    border: 1px solid #FFFFFF;
    position: absolute;
    margin-top: -100px;
    left: 3%;
    gap: 10px;
}

.desctop-slide-h {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.desctop-slide-p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
}

.desctop-slide-img-2 {
    position: relative;
}

.desctop-border-2 {
    position: absolute;
    width: 299px;
    height: 114px;
    background: #111010;
    border: 1px solid #FFFFFF;
    margin-top: -100px;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.desctop-slide-img-3 {
    position: relative;
}

.desctop-border-3 {
    position: absolute;
    width: 415px;
    height: 114px;
    background: #111010;
    border: 1px solid #FFFFFF;
    margin-top: -100px;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.desctop-slide-img-4 {
    position: relative;
}

.desctop-border-4 {
    position: absolute;
    width: 415px;
    height: 114px;
    margin-top: -100px;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #111010;
    border: 1px solid #FFFFFF;
}

.vision {
    margin-top: 200px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;

    }

    &-container {
        margin: auto;
        padding: 20px 20px 35px;
        width: 388px;
        height: 369px;
        background: #F7F7F7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        transform: translateY(100px);
        z-index: 2;

        @media screen and (min-width: 768px) {
            margin-top: 170px;
            margin-left: 200px;
            display: flex;
            width: 708px;
            height: 402px;
        }

        &-h {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 48px;
            display: flex;
            align-items: center;
            color: #111010;

            @media screen and (min-width: 768px) {
                font-size: 48px;

            }

        }

        &-p {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: #616161;

        }

        &-button {
            width: 180px;
            height: 45px;
            background: #111010;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 24px;
            justify-content: center;

            @media screen and (min-width: 768px) {
                width: 180px;
                height: 52px;

            }

        }

        &-img {
            position: absolute;

            &-smal {
                min-width: 428px;

                @media screen and (min-width: 768px) {
                    display: none;
                }

            }

            &-desktop {
                display: none;

                @media screen and (min-width: 768px) {
                    display: block;
                    margin-top: 200px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.bg-content {
  
    @media screen and (min-width: 768px) {
        display: block;
        background-image: url(../img/section4.svg);
        background-repeat: repeat;
        background-size: cover;
    }
}

.content {
    margin-top: 700px;

    @media screen and (min-width: 768px) {
        margin-top: 250px;
       margin-left: 249px;
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 768px){
            display: flex;
            flex-direction: row;
            gap: 66px;
           
        }

        &-h {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #111010;
            @media screen and (min-width: 768px){
            font-size: 48px;
            line-height: 58px;
            width: 565px;
            height: 117px;
            text-align: start;
            margin-left: 20px;

            }

        }

        &-p {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #616161;
            @media screen and (min-width: 768px){
                width: 610px;
                height: 112px;
                text-align: start;
                margin-left: 20px;
            }

        }

        &-img {
            display: flex;
            justify-content: center;
            gap: 66px;
        }
    }
}

.carusel-inner {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    @media screen and (min-width: 768px){
        display: none;
    }
}

.carusel-open:checked+.carusel-item {
    position: static;
    opacity: 100;
}

.carusel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carusel-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carusel-control {
    background: white;
    color: black;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carusel-control.prev {
    left: -2%;
}

.carusel-control.next {
    right: -2%;
}

.carusel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carusel-1:checked~.control-1,
#carusel-2:checked~.control-2,
#carusel-3:checked~.control-3 {
    display: block;
}


.carusel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carusel-bullet {
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carusel-bullet:hover {
    color: grey;
}

#carusel-1:checked~.control-1~.carusel-indicators li:nth-child(1) .carusel-bullet,
#carusel-2:checked~.control-2~.carusel-indicators li:nth-child(2) .carusel-bullet,
#carusel-3:checked~.control-3~.carusel-indicators li:nth-child(3) .carusel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.box-after-slide {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 1px solid black;
    width: 361px;
    height: 93px;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 5%;
    position: absolute;
    margin-top: -50px;

}

.box-after-slide-h {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.box-after-slide-p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
}

.content-container-img-yallow-chair {
    display: none;
    @media screen and (min-width: 768px){
display: block;
width: 257px;
height: 325px;
    }
}

.content-container-img-puff {
    display: none;
    @media screen and (min-width: 768px){
display: block;
width: 257px;
height: 325px;
    }
}

.content-container-img-mirror {
    width: 388px;
    height: 325px;
    height: 325px;
    transform: translate(0, 10px);
    display: none;
    @media screen and (min-width: 768px){
        display: block;
        width: 257px;
        height: 325px;
            }
    
}
.d-flex-col{
    display: flex;
    flex-direction: column;
   
}
.content-container-img-video{
    display: none;
    @media screen and (min-width: 768px){
        display: block;
    }
}
.content-container-img-button{
    display: none;
    @media screen and (min-width: 768px){
        display: block;
    width: 180px;
height: 52px;
background: #111010;
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
justify-content: center;
}
}
.d-flex-col-gap{
    display: flex;
    flex-direction: column;
    gap:40px
}





.carousell-inner {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
   

}

.carousell-open:checked+.carousell-item {
    position: static;
    opacity: 100;
}

.carousell-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousell-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carousell-control {
    background: white;
    color: black;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 35%;
    cursor: pointer;
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousell-control.prev {
    left: -2%;
}

.carousell-control.next {
    right: -2%;
}

.carousell-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousell-1:checked~.control-1,
#carousell-2:checked~.control-2,
#carousell-3:checked~.control-3 {
    display: block;
}


.carousell-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousell-bullet {
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousell-bullet:hover {
    color: grey;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.box-after-slide {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 1px solid black;
    width: 361px;
    height: 93px;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 5%;
    position: absolute;
    margin-top: -50px;

}

.box-after-slide-h {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.box-after-slide-p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
}
.carousell-line{
    width: 125px;
height: 3px;
background: #C4C4C4;
transform: translateY(-20px);
    margin: auto;
    
}
.carousell-h{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
color: #111010;
justify-content: center;

}
.carousell-p{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #616161;

}
.carousell-mall{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 26px;
text-align: center;
text-transform: capitalize;
color: #111010;


}
.carousell-wood{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
text-align: center;
text-transform: capitalize;
color: rgba(17, 16, 16, 0.5);

}
.carousell-button{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
width: 153px;
height: 45px;
background: #111010;
justify-content: center;
border: none;
margin-top: 34px;

}
.carousell-a-button{
transform: translateX(30%);
}
.carousell-a{
    text-decoration: none;
}

